<h1>AI Based Color Mapper for MUSE Images</h1>

<p>This Python Flask application that runs our Cycle-GAN model in the background and provides predictions on the fly.
</p>

<br>

<html>

<body>
    <!-- <form action="upload_photo" method="POST" enctype="multipart/form-data">
        Upload File: <input type="file" name="file"><br>
        <input type="submit" name="submit" value="Submit">
    </form> -->
    <input action="action" onclick="window.history.go(-1); return false;" type="submit" value="BACK" />
   
    
    {% for image_entity in image_entities %}
        <p>Displaying image </p>
        {{image_entity}}
        <base href="">
        
        <a href={{image_entity}}>file </a>
        <img src={{image_entity}} width=512 height=512>

    {% endfor %}
</body>

</html>